@font-face {
	font-family: OpenSansLight;
	src: url("./fonts/Open_Sans/OpenSans-Light.ttf");
}

* {
	margin: 0;
	padding: 0;
	font-family: OpenSansLight;
}

html {
	background-color: black;
}

canvas {
	border: 1px solid black;
	background-color: white;
}