@font-face {
  font-family: open-sans-regular;
  src: url("../font/Open_Sans/OpenSans-Regular.ttf");
}

@font-face {
  font-family: open-sans-bold;
  src: url("../font/Open_Sans/OpenSans-Bold.ttf");
}

@font-face {
  font-family: open-sans-semi-bold;
  src: url("../font/Open_Sans/OpenSans-SemiBold.ttf");
}

@font-face {
  font-family: open-sans-semi-bold-italic;
  src: url("../font/Open_Sans/OpenSans-SemiBoldItalic.ttf");
}

@font-face {
  font-family: inconsolata-regular;
  src: url("../font/Inconsolata/Inconsolata-Regular.ttf");
}

@font-face {
  font-family: inconsolata-bold;
  src: url("../font/Inconsolata/Inconsolata-Bold.ttf");
}

* {
	font-family: open-sans-regular;
}

navigation>a {
	border: 2px inset black;
	padding: 8px;
	font-style: oblique;
  display: inline-block;
  margin-bottom: 4px;
}

vertical-pile {
  display: inline-flex;
  align-items: center;
}

ul {
  margin-left: 8px;
  list-style-type: disc;
}

ul.none {
  margin-left: 0px;
  list-style-type: none;
}

h2 {
  margin-top: 5%;
  border-top: 2px inset black;
}

h3 {
  margin-top: 5%; 
}

h3.top {
  margin-top: 0;
}

footer {
  height: 20px;
}

.thumbnail {
  display: inline-block;
  border: 1px solid white;
}

.image-viewer {
  display: block;
  border: 1px solid darkblue;
}

.blue {
  color: blue;  
}

.orange {
  color: orange;  
}

.green {
  color: green;
}

.bold {
  font-family: open-sans-bold;
}

.semi-bold {
  font-family: open-sans-semi-bold;
}

.code {
  background-color: #f0f0f0;
  font-family: inconsolata-regular;    
  border: 1px solid black;
  padding: 2px 4px;  
}

.code-bold {
  background-color: #f0f0f0;
  font-family: inconsolata-bold;  
  font-size: 18px;
  border: 1px solid black;
  padding: 2px 4px;  
}

.disc-list {
  list-style-type: disc;
  margin-left: 20px;
}

.help {
  color: red;
  font-size: 90%;
  font-style: italic;
}

#cool {
  display: block;
  margin-top: 1%;
  border: 1px dotted black;
}

.fat-border {
  border: 10px solid black;
}